<table class="table table-striped table-hover">
  <tr>
    <th>Done</th>
    <th>Task</th>
    <th>Estimate to complete (minutes)</th>
  </tr>

  {{#each controller}}
    <tr>
      <td>{{view Ember.Checkbox checkedBinding="isDone"}}</td>
      <td>{{name}}</td>
      <td>{{humanTimeLength minutesEstimatedToComplete}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="3">No tasks, yet.</td>
    </tr>
  {{/each}}
</table>
